/api/.phpunit.cache
/api/node_modules
/api/public/build
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/storage/pail
/api/vendor
/api/.env
/api/.env.backup
/api/.env.production
/api/.phpactor.json
/api/.phpunit.result.cache
/api/Homestead.json
/api/Homestead.yaml
/api/npm-debug.log
/api/yarn-error.log
/api/auth.json
/api/.fleet
/api/.idea
/api/.nova
/api/.vscode
/api/.zed

# Logs
/ui/logs
/ui/*.log
/ui/npm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*
/ui/pnpm-debug.log*
/ui/lerna-debug.log*

/ui/node_modules
/ui/.DS_Store
/ui/dist
/ui/dist-ssr
/ui/coverage
/ui/*.local

/ui/cypress/videos/
/ui/cypress/screenshots/

# Editor directories and files
/ui/.vscode/*
!/ui/.vscode/extensions.json
/ui/.idea
/ui/*.suo
/ui/*.ntvs*
/ui/*.njsproj
/ui/*.sln
/ui/*.sw?

/ui/*.tsbuildinfo
