.ant-layout-header {
    border-bottom: 1px solid #e8e8e8 !important;
}

div.logo {
    color: #fff !important;
    float: left;
    line-height: 64px;
    font-size: 18px;
}

.logo-icon {
    margin-right: 16px;
}

div.logo img {
    height: 36px;
    width: auto;
}

label {
    font-weight: bold;
}

.auth-nav {
    text-align: right;
    color: #fff;
}
